<style>
    .container{
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
</style>


<div class="container">
    <span>Olá <strong>{{name}}</strong>! Tudo bem?</span>
    <br/>
    <strong>{{description}}</strong><span>{{pass}}</span>
    <br/>
    <span>Você pode alterá-la posteriormente!</span>

    <h3>Equipe DownFast</h3>
</div>