.navbar {
    background-color: var(--color-primary-darker);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    z-index: 200;
  }
  
  .menu-bars {
    position: absolute;
    margin-left: 2rem;
    font-size: 2rem;
    background: none;

    z-index: 200;
  }

  #user-informations {
    position: absolute;
    /* width: 300px; */
    right: 0;
    margin-right: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #user-icon {
    margin-right: 10px;
  }

  #user {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    margin-right: 20px;
  }

  #name-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #email {
    font-size: .7em;
  }

  #user-informations span {
    color: white;
  }

  .navbar h2 {
    color: #f5f5f5;

    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .nav-menu {
    background-color: var(--color-primary-darker);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

    z-index: 200;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover,
  .nav-text a.active {
    background-color: var(--color-primary-light);
    font-weight: bold;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: var(--color-primary-darker);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-text span {
    margin-left: 16px;
  }

  button {
    background-color: var(--color-primary-darker);

    cursor: pointer;

    border: none;
}